{% comment %}
PARAMETERS:
	gallery		to return all images in a gallery, specify it's name (with extension)
	
TODO
	When returning a gallery, don't have a way to define caption or alt yet. Probably
	want to store them along with source paths, but I don't know yet.
{% endcomment %}
{% assign year = page.date | date: "%Y" %}
{% assign gallery_name = include.gallery %}
{%- if gallery_name == "" or gallery_name == nil -%}
	{% assign gallery_name = "gallery" %}
{%- endif -%}
{% capture gallery_slug %}{{gallery_name | slugify}}{% endcapture %}
{% assign gallery = site.data.pictures[year][page.slug][gallery_slug] %}
{%- if gallery -%}
<div class="picture-gallery" id="{{ gallery_slug }}">
	{% if gallery.title > "" %}<h4>{{gallery.title}}</h4>{% endif %}
	{%- for picture in gallery.pictures -%}
		<a href="{{ picture.orig.src }}" id="{{ picture.file_name }}" data-index="{{ forloop.index0 }}" data-size-med="{{ picture.med.w }}x{{ picture.med.h }}"><img src="{{ picture.thumb.src }}" width="177" height="177"></a>
	{%- endfor -%}
</div>
{%- else -%}
	# Gallery Didn't Exist: **{{ include.gallery }}**
{%- endif -%}