{% comment %}
	Populate post parameter like:
		{% include post-list-minimal.html post=post %}
{% endcomment %}
<article itemscope itemtype="http://schema.org/BlogPosting">
	<footer><time datetime="{{ include.post.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.post.date | date: "%^b-%d" }}</time></footer>
	<header>
		<h3>
			<a href="{{ include.post.url | relative_url }}" itemprop="url">
				<span itemprop="name headline">{{ include.post.title | escape }}</span>
			</a>
		</h3>
	</header>
</article>
