{% comment %}
	Populate post parameter like:
		{% include post-list.html post=post %}
{% endcomment %}
<article itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<h2>
			<a href="{{ include.post.url | relative_url }}" itemprop="url">
				<span itemprop="name headline">{{ include.post.title | escape }}</span>
			</a>
		</h2>
	</header>
	{% include post-meta.html post=post %}
	<div itemprop="description">{{ include.post.excerpt | truncatewords: 55, "" }}<a href="{{ include.post.url | relative_url }}" itemprop="url">...keep reading</a></div>
</article>
