---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from the `minima` theme.
@import "minima";

.post-list {
  > li {
    margin-bottom: $spacing-unit * 2;
	
    > h2 {
      margin-bottom: 0;
    }
  }
}

#comments {
  margin-top: $spacing-unit * 2;

  h2 {
    font-size: 42px;
	border-bottom: 4px solid $grey-color;
  }
  
  article {
    position: relative;
	margin-top: $spacing-unit;
	margin-bottom: $spacing-unit * 2;
	padding-left: 80px;
	
	[itemprop="author"] {
	  [itemprop="image"] {
	    position: absolute;
		top: 0;
		left: 0;
	  }
	  [itemprop="name"] {
	    margin-bottom: 0;
	  }
	}
	
    time {
      font-size: $small-font-size;
    }
	
	[itemprop="text"] {
	  margin-top: .75em;
	}
  }
}

#comment-form-section {
  margin-top: $spacing-unit * 2;

  > h2 {
    font-size: 42px;
	border-bottom: 4px solid $grey-color;
  }
  
  .disabled {
    input,
    button,
    textarea,
    label {
      pointer-events: none;
      cursor: not-allowed;
      filter: alpha(opacity=50);
      opacity: 0.5;
    }
  }
}

fieldset {
  margin-bottom: .5em;
  padding: 0;
  border-width: 0;
}

label {
  display: block;
  font-size: $small-font-size;
  
  small {
    margin-left: .25em;
	color: $grey-color;
  }
  
  small::before {
    content: "(";
  }
  
  small::after {
    content: ")";
  }
}

input, select, select[multiple=multiple], textarea {
  margin-bottom: .25em;
  padding: .5em;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: .5em 1em;
  font-size: 1em;
}

.hidden {
  display: none;
}

.notice {
  font-size: 1.2em;
}

.notice.success {
  color: #3c763d;
}

.notice.danger {
  color: #a94442;
}

hr {
  margin: .5em auto;
}