// Use media queries like this:
// @include media-query($on-palm) {
// 	.wrapper {
// 		padding-right: $spacing-unit / 2;
// 		padding-left: $spacing-unit / 2;
// 	}
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

/**
 * Original idea for this function came from:
 *    https://codepen.io/zgreen/post/contextual-heading-sizes-with-sass
 * $level = header level (1-6)
 * $scale = can increase/decrease the size with this parameter
 *    I've applied it to $max because I don't ever want h6 to be
 *    smaller than $min.
 *
 * $max = size of h1
 * $min = size of h6
 */
@function heading-font-size($level, $scale: 1) {
	$max: 2.8 * $scale;
	$min: .8;

	$step: (($max - $min) / 5);
	@return ($max - $min) - ($level - 1) * $step + $min * 1em
}
