
@for $i from 1 through 6 {
	h#{$i} {
		font-size: heading-font-size($i);
		@include media-query($on-laptop) {
			font-size: heading-font-size($i, .8 );
		}
	}
}

hr {
	margin: $spacing-unit/2 auto;
}

address {
	font-style: normal;
}

.hidden {
	display: none;
}

footer {
	color: $grey-color;
}



/**
 * Site header
 */
.site-header {
	border-top: 5px solid $grey-color-dark;
	border-bottom: 1px solid $grey-color-light;
	min-height: 56px;
	line-height: 56px;

	// Positioning context for the mobile navigation icon
	position: relative;
}

.site-title {
	font-size: $base-font-size * 1.625;
	font-weight: 300;
	letter-spacing: -1px;
	float: left;

	&,
	&:visited {
		color: $grey-color-dark;
	}
}

.site-nav {
	text-align: right;

	>.page-link,
	>.site-search {
		color: $text-color;
		float: right;
		padding: 0 $spacing-unit / 2;
		white-space: nowrap;
	}

	>.site-search {
		cursor: pointer;
		> svg {
			width: 22px;
			height: 22px;
			vertical-align: text-bottom;
			transition: transform .2s ease-out;
			> path {
				fill: $grey-color-dark;
			}
		}
		&:hover {
			> svg {
				transform: scale(1.1);
				> path {
					fill: black;
				}
			}
		}
	}
}



/**
 * Site footer
 */
.site-footer {
	border-top: 1px solid $grey-color-light;
	padding: $spacing-unit 0;
	font-size: $small-font-size;
}



/**
 * Page content
 */
.page-content {
	margin: $spacing-unit 0;
}



/**
 * Posts
 */
.post {
}

.post-footer {
	margin-bottom: $spacing-unit;
	font-size: $small-font-size;
}

.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-top: $spacing-unit;
		margin-bottom: $spacing-unit * 2;
	}

	footer {
		margin-bottom: $spacing-unit / 2;
		font-size: $small-font-size;
	}
}

.post-list-minimal {
	list-style: none;
	margin-left: .5em;
	display: table;

	article {
		margin-bottom: $spacing-unit / 2;
	}

	h3 {
		font-size: 1em;
	}

	header, footer {
		display:table-cell;
		* {
			display: inline;
		}
	}

	footer {
		font-size: $small-font-size;
		width: 4em;
		text-align: right;
		padding-right: .5em;
	}
}

.post-content {
	margin-bottom: $spacing-unit * 2;
}

.post-tags {
}

.post-tag {
	font-size: $small-font-size;
	margin-left: .5em;
	padding: .25em .75em;
	background-color: desaturate(lighten($brand-color, 45%),40%);
	border: 1px solid lighten($brand-color, 40%);
	border-radius: 1em;
	white-space: nowrap;
	line-height: 2.25em;
}

.post-tag-count {
	color: $grey-color;
	padding-left: 2px;
}



/**
 * Comments
 */
#comments-wrapper {
	background-color: mix($background-color, $brand-color, 95%);
	border-top: 1px solid $grey-color-light;

}
#comments {
	overflow: auto;

	> h2 {
		border-bottom: 4px solid $grey-color;
	}

	> article {
		margin-bottom: $spacing-unit * 2;

		> header {
			> h3 {
				font-size: 1.2em;
			}
		}
		
		[itemprop="author"] {
			[itemprop="image"] {
				float: left;
				width: $spacing-unit * 2;
				height: $spacing-unit * 2;
				margin-right: $spacing-unit / 2;
				@include media-query($on-palm) {
					margin-bottom: $spacing-unit / 2;
				}
				border-radius: $spacing-unit;
			}
			[itemprop="name"] {
				margin-bottom: 0;
			}
		}
		
		time {
			font-size: $small-font-size;
			line-height: $base-font-size * 2;
			@include media-query($on-palm) {
				line-height: $base-font-size * 3; /* increase space between links */
			}
		}

		[itemprop="text"] {
			clear: both;
			margin-left: $spacing-unit * 2.5 ; /* author image width + right margin */
			@include media-query($on-palm) {
				margin-left: 0;
			}
		}
	}
}



/**
 * Notices
 * https://www.w3schools.com/bootstrap/bootstrap_alerts.asp
 */
.notice {
	font-size: 1.2em;
	padding: $spacing-unit / 2;
	margin-bottom: $spacing-unit / 2;
	border: 1px solid transparent;
	border-radius: 5px;
}

.notice.success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6
}

.notice.info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1
}

.notice.warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc
}

.notice.danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1
}



/**
 * No Javascript
 */
.no-js {
	.site-search {
		display: none
	}
}
