.picture-gallery{
	margin-bottom: 15px;

	figure {
		display: inline-block;
		vertical-align: top;
	}
	img {
		display: inline-block;
		padding-left: 4px;
		padding-right: 4px;
		padding-bottom: 8px;
		box-sizing: border-box;
		@include media-query(400px) {
			width: 50%;
			height: auto;
		}
	}
	img:hover{
		filter: alpha(opacity=90);
		opacity: 0.9;
		border: 2px solid transparent;
	}
}