.picture-gallery{
	margin-bottom: 15px;

	figure {
		display: inline-block;
		vertical-align: top;
	}
	a {
		display: inline-block;
	}
	img {
		display: inline-block;
		margin-right: 8px;
		margin-bottom: 8px;
	}
}
